.App {
  text-align: center;
}

.Modal {
  position: absolute;

}

.Overlay {
  position: fixed;
  top: 20%;
  left: 30%;
  height: 50vh;
  width: 40vw;
  background-color: azure;
  border-style: dotted;
}

.overall-board {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2; 
}

.entire-trello {
  height:auto;
  background-color: lightsteelblue;
}
.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.jobra {
  display: flex;
  float: left;
  padding-left: 25px;
  justify-content: flex-start;
}

.profile {
  display: flex;
  float: right;
  padding-right: 25px;
  justify-content: flex-end;
}

.searchbar {
  background-color: darkgrey;
}

.add-card-form {
  display: flex;
  justify-content: center;
}

.mainpage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: lightsteelblue;
}

.notes-section {
  grid-area: 1 / 2 / 2 / 3; 
}

.whole-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.upper-section {
  grid-area: 1 / 1 / 2 / 2;
}

.lower-section {
  grid-area: 2 / 1 / 3 / 2;
}

#line-graph {
  height: 50vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-left: 25vw;
}