/* .html {
  width: 100vw;
  height: 100vh;
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.overall-board {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 1 / 2 / 2; 
}
.entire-trello {
  height:auto;
  background-color: lightsteelblue;
}
.react-trello-lane {
  box-shadow: 0px 8px 8px 8px rgba(0,0,0,0.2);
}
.sc-kEjbxe {
  color: whitesmoke;
}
.sc-kstrdz {
  color: black;
}
.searchbar {
  background-color: black;
  display: flex;
  justify-content: flex-start;
}
.add-card-form {
  display: flex;
  justify-content: center;
}
.mainpage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: lightsteelblue;
  width: 100vw;
  height: 100vh;
}
.notes-section {
  grid-area: 1 / 2 / 2 / 3; 
  background-color: rgba(153, 221, 255, 0.637);
}
.whole-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: max-content;
}
.upper-section {
  grid-area: 1 / 1 / 2 / 2;
  height: 30vh;
}
.lower-section {
  grid-area: 2 / 1 / 3 / 2;
  margin: 70px 0px;
}
#main-page-pie {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
#line-graph {
  height: 44vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 0;
}
.item {
  font-size: large;
}
#ui-header {
  margin-bottom: 0;
  border: 0;
  display: flex;
}
.slogan {
  padding-right: 730px;
  padding-top: 15px;
  font-size: x-large;
  color: grey;
  font-style: italic;
}
.logout-btn {
  margin-left: 0px;
}
.jobra-logo {
  margin-left: 750px;
  height: 50px;
  width: 50px;
}
.authform {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(153, 221, 255);
}
.login-form {
  padding: 50px;
  border: solid black 4px;
  background-color:rgb(82, 137, 165);
  border-radius: 15px;
}
.auth-label{
  font-size: xx-large;
}
.whole-user-page {
  background-color: rgb(125, 178, 204);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;
}
.current-user-info {
  grid-area: 1 / 1 / 2 / 3;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.current-user-charts {
  grid-area: 2 / 1 / 3 / 2;
  width: 100vw;
}
.profile-info {
  border: solid white 4px;
  padding: 20px;
  border-radius: 15px;
}
.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 40vw;
  margin: 0;
}
.pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-note-form {
  border: solid black 5px;
  border-radius: 5px;
  color: black;
}
.each-note {
  margin: 10px 0px;
  height: 50px;
  text-align: center;
  position: relative;
}
.each-del-btn {
  display: inline-block; 
  position: absolute;
  right: 10px;
}
.note-description {
  margin: 0;
  border: 0;
  display: inline-block;
} */
/* #root{
  height: 100%;
} */
#root{
  height: 100%;
}
.App{
  height: 100%;
}
.grid-container-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
  background-image: url("https://rawsondigital.co.uk/wp-content/uploads/2018/10/Rawson-Digital-Bottom-Page-Background.jpg");
}

.authform { 
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 0px 0px;
  height: 100%;
}

.jobra-logo-auth { 
  grid-area: 1 / 1 / 2 / 2; 
  display: flex;
  justify-content: center;
  padding: 30px;
}

.login-form { 
  grid-area: 2 / 1 / 3 / 2; 
  border: solid lightgrey 1px;
  border-radius: 5px;
  margin-bottom: 250px;
  padding: 30px;
  margin-top: 50px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.auth-label{
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  font-weight: bold;
  font-size: large;
}

.auth-input{
  display: flex;
  justify-content: center;
  margin-left: 10%;
  font-family: Helvetica;
  border-radius: 3px;
}
.login-error{
  text-align: center;
  color: red;
  font-weight: bold;
  font-family: Helvetica;
}
.login-btn{
  display: block;
  margin: 0 auto;
  font-size: small;
  background-color: #5AAC44;
  border-radius: 3px;
  color: white;
  padding: 1% 20%;
  font-family: Helvetica;
  margin-left: 21%;
}

.signup-toggle{
  color: blue;
}

.signup-toggle:hover{
  color: grey;
}

.login-bottom{
  text-align: center;
}